<ion-header>
    <ion-toolbar>
        <ion-title>pedido</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <form #Formulario="ngForm">

        <ion-list>
            <div *ngIf="!stateForm" class='formGeneral'>
                <ion-list-header>Selecciona al cliente</ion-list-header>

                <ion-item>
                    <ion-label>Ingenio</ion-label>
                    <ion-select placeholder="Selecciona el nombre del ingenio" [(ngModel)]="valor" (ionChange)="print()" name="nomCliente">
                        <ion-select-option value={{ingenios.id}} *ngFor="let ingenios of ingenio">{{ingenios.name}}</ion-select-option>

                    </ion-select>
                </ion-item>

                <ion-item *ngIf="remissionNumber">
                    <ion-label position="floating">Número de remisión</ion-label>
                    <ion-input type="text" value="{{remissionNumber.currentRemissionNumber}}" disabled="true"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Fecha de compra</ion-label>
                    <ion-datetime displayFormat="MMM DD, YYYY HH:mm"  (ionChange)="seleccion($event)"></ion-datetime>
                </ion-item>

            </div>

            <div *ngIf="stateForm" class='datosProducto'>

                <ion-item>
                    <ion-label position="floating">Cantidad</ion-label>
                    <ion-input type="number" [(ngModel)]="Cantidad" name="Cantidad"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>Unidad</ion-label>
                    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" [(ngModel)]="Unidad" placeholder="Unidad">
                    <ion-select-option value="SACOS" selected>SACOS</ion-select-option>
                    <ion-select-option value="PESOS">PESOS</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Descripción de la fórmula.
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="DescFormula" name="descFormula"></ion-input>
                </ion-item>

               
            </div>

        </ion-list>


        <div boxBtnPedido>

            <ion-button *ngIf="!stateForm" (click)='guradarInfoGen()' class="btnlogin" color="success" type="submit">Guardar Información</ion-button>

            <ion-button *ngIf="stateForm" (click)='guradarProd()' class="btnlogin" color="success">Agregar Producto</ion-button>




            <ion-button (click)='enviarInfo()' *ngIf="stateForm" class="btnlogin" color="secondary" type="submit">Enviar Información</ion-button>

            <ion-button (click)='cancel()' class="btnlogin orange" type="submit">Cancelar</ion-button>

        </div>


    </form>
</ion-content>